$background-color: #121212;
$left-color: #333333;
$right-color: #222222;
$text-color: #e0e0e0;
$muted-text-color: #b8b8b8;

body {
  background-color: $background-color;
  color: $text-color;
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

.container {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

/* Song Display */
.song-container-left {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-bottom: 100px;
  gap: 20px;
  background-color: $left-color;
  padding: 30px;
}

.song-container-right {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-bottom: 100px;
  gap: 20px;
  // flex-direction: row-reverse;
  background-color: $right-color;
  padding: 30px;
}

.song-image {
  width: 50%;
  min-width: 120px;
  max-width: 500px;
  height: auto;
  object-fit: contain;
  // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.song-text {
  padding: 20px;
  font-size: clamp(16px, 2.5vw, 30px);
  width: 50%;
  min-width: 120px;
  max-width: 500px;
}

.song-text h1 {
  margin: 0 0 10px 0;
  font-size: 4vw;
}

.song-text h4 {
  margin: 0 0 5px 0;
  font-size: 3vw;
}

.song-text p {
  margin: 0;
  font-size: 2vw;
}

/* Media query for mobile devices */
@media (max-width: 576px) {
  .song-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .song-image {
    width: 60%;
    margin-bottom: 20px;
  }

  .song-text {
    padding: 10px;
  }
}

/* Animation styles */
.song-container-left,
.song-container-right {
  opacity: 0;
  transform: translateY(0);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.song-container-left {
  transform: translateX(-20px) translateY(0);
}

.song-container-right {
  transform: translateX(20px) translateY(0);
}

.song-container-left.visible,
.song-container-right.visible {
  opacity: 1;
  transform: translateX(0) translateY(0);
}

.home-container {
  margin: 220px 0 270px 0;
  font-size: 30px;
  text-align: center;
}

@keyframes rainbow {
  0% {
    color: red;
  }
  14% {
    color: orange;
  }
  28% {
    color: yellow;
  }
  42% {
    color: lightgreen;
  }
  57% {
    color: lightseagreen;
  }
  71% {
    color: rgb(179, 3, 179);
  }
  85% {
    color: violet;
  }
  100% {
    color: red;
  }
}

.rainbow {
  color: red;
  animation-name: rainbow;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

.about-container {
  max-width: 1200px;
  margin: 40px auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.about-title {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: $text-color;
}

.about-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.section {
  background-color: $left-color;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.section:hover {
  transform: translateY(-10px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.section-title {
  font-size: 1.8rem;
  margin-bottom: 10px;
  color: $text-color;
  transition: color 0.3s ease;
}

.section-description {
  font-size: 1rem;
  color: $muted-text-color;
}

.tech-list {
  list-style-type: none;
  padding-left: 0;
}

.tech-item {
  font-size: 1.2rem;
  color: $muted-text-color;
  margin-bottom: 8px;
  transition: color 0.3s ease;
}

@media (max-width: 768px) {
  .about-content {
    grid-template-columns: 1fr;
  }
  
  .about-title {
    font-size: 2rem;
  }
  
  .section-title {
    font-size: 1.6rem;
  }
  
  .section-description {
    font-size: 0.9rem;
  }
  
  .tech-item {
    font-size: 1rem;
  }
}
